
.sound-time {
    display: flex;
    justify-content: center;
    margin: 0ch 2ch;
    margin-bottom: .5em;
}

.time-bar {
    height: 12px;
    width: 95%;
    margin: 1em 1em 0em 1em;
    background-color: var(--ion-color-tertiary-tint);
    border-radius: 10px;
    position: relative;
}

.bar-time {
    font-size: .8rem;
    font-weight: 700;
    top: 100%;
    position: absolute;
}

.one-bar > .start {
    left: -3ch;
    color: var(--ion-color-tertiary);
}

.one-bar > .end {
    margin-left: -1ch;
    left: 100%;
    color: var(--ion-color-primary);
}

.one-bar {
    display: flex;
    position: absolute;
    height: 100%;
    border-radius: 10px;
    background-color: var(--ion-color-tertiary);
}
