#divider {
    height: 3px;
    border-color: var(--ion-color-dark-contrast);
}

#page-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.login-btn {
    margin-top: 1em;
}
