.header {
    margin: 0.5em 0em;
    font-weight: 700;
    font-size: 1.1rem;
}

.add {
    font-size: 0.9rem;
    color: var(--ion-color-primary);
}

.bottomMargin {
    margin: 0em 0.5em 0em 0em;
}
