
.grid {
    width: 85%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1em;
    z-index: 2;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

.triangle {
  position: absolute;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #86888f;
  transform-origin: center;
}

.number {
  position: absolute;
  transform-origin: center;
  text-align: center;
}