
.clock-container {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid black;
    border-radius: 50%;
    box-sizing: border-box;
}

.clock-time {
    position: relative;
    background-color: white;
    z-index: 3;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.clock-hand {
    position: absolute;
    margin: auto;
    bottom: 50%;
    right: 0;
    left: 0;
    width: 2px;
    background-color: black;
    z-index: 2;
    transform-origin: bottom;
}

body.dark .clock-container {
    border: 2px solid white;   
}

body.dark .clock-time {
    background-color: black;;
    color: white
}

body.dark .clock-hand {
    background-color: white;
}