

.outer-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26vh;
    width: 26vh;
    border-radius: 50%;
    border: 8px solid var(--ion-color-primary-shade);
    margin: 2em 1em 1em 1em;
    padding: 1em;
}

.inner-circle {
    background-color: var(--ion-color-primary);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 3vh;
    text-transform: uppercase;
}

.circle-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    margin: 0;
}

.time-control-container {
    flex: 1;
}

.transparent-bg-ion-item {
    --backgroud: "transparent";
}