

.acc-close {
    border: 3px solid var(--ion-color-tertiary);
    height: 10%;
    margin: 1em;
    border-radius: 10px;
    transition: height 200ms linear;
    display: flex;
    flex-direction: column;
}

.acc-open {
    border: 3px solid var(--ion-color-tertiary);
    height: 80%;
    margin: 1em;
    border-radius: 10px;
    transition: height 200ms linear;
    display: flex;
    flex-direction: column;

    background-color: var(--ion-color-tertiary);
    color: var(--ion-color-tertiary-contrast);
}

.acc-close .title-head {
    height: 100%;
}

.acc-open .title-head {
    height: 12.5%;
}

.play-volume-grid {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
    max-height: 120px;
}

.play-btn {
    margin: 0em .5em;
    height: 100%;
    background-color: var(--ion-color-light);
    border-radius: 10px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playing {
    background-color: var(--ion-color-tertiary-tint);
}

.slider-close-btn {
    height: 10vw;
    width: 10vw;
    margin: .5em;
    /* background-color: var(--ion-color-light); */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-list-container {
    margin: 1em .5em;
    border-radius: 10px;
    flex: 1;
    background-color: var(--ion-color-tertiary-contrast);
    height: 70%;
    flex-direction: column;
    padding: 0px 0px 10px 0px;
}

.song-list-content {
    width: 100%;
    background: transparent;
    border-radius: 10px;
}

.song-list {
    width: 100%;
    background: transparent;
    border-radius: 10px;
}

ion-content {
    --background: transparent;
}

